<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="config/db.properties" />
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> <!-- 카멜케이스, 널은 필수 세팅값. 꼭 넣어줘야함 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 언더바를 카멜케이스로 바꿔주는 세팅 -->
	</settings>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- 매퍼 설정하는법.  -->
	<mappers>
		<package name="co.micol.prj" />
	</mappers>
</configuration>